{% extends "base/main.html" %}
{% load static %}
{% block content %}


    <section class="components" id="home">
        <div class="hero">
            <div class="hero-info">
                <h1>Full Stack <br> <span>Developer</span> </h1>
                <p>I am enthusiastic and dedicated Full Stack Developer with a focus on Django and React, eager to leverage my skills and education to contribute to dynamic development teams.</p>
                <div class="call-buttons">
                    <button class="btn1">Message me</button>
                    <button>My projects</button>
                </div>
                <div class="social-media-icon">
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100090196136920" target="new"><i class="fa-brands fa-facebook"></a></i></li>
                        <li><a href="https://www.linkedin.com/in/raj-kumar-51096b224/" target="new"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/its__rajkumar/" target="new"><i class="fa-brands fa-square-instagram"></i></a></li>
                        <li><a href="https://github.com/adit10niraula" target="new"><i class="fa-brands fa-github"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="hero-img">
                <img src="{% static 'img/me.png' %}" alt="">

            </div>
        
        </div>
    </section>

    <section class="components" id="about">
        <div class="specilist">
            <h2>specialities</h2>
            <p>My skill set encompasses the full spectrum of web development, 
                from crafting visually appealing and responsive user interfaces using HTML, CSS, 
                and JavaScript, to developing robust server-side applications with Django.My
                proficiency with React ensures that 
                front-end applications are not only functional but also highly interactive and performant.</p>
            
        </div>

    </section>

    <section class="components">
        <div class="main-skill">
            <div class="product-design skill-container">
                <h2>Frontend</h2>
                <p>Front-End Developer with a strong command of HTML, CSS, JavaScript, and React, essential for creating dynamic and visually appealing web applications</p>

            </div>
            <div class="frontend skill-container">
                <h2>Backend</h2>
                <p>Back-End Developer proficient in Django, a powerful and versatile Python web framework renowned for its simplicity, reliability, and scalability.</p>

            </div>
            <div class="backend skill-container">
                <h2>Database</h2>
                <p>expertise in MySQL and SQLite, two widely used relational database management systems (RDBMS), each offering unique advantages for different project requirements.</p>

            </div>
        </div>
    </section>

    <section class="components">
        <div class="language-skills">
            <h1>skills</h1>

            {% for skill in skills %}

            {% if skill.body%}

            <div class="language-skill">
                <h3>{{skill.title}}</h3>
                <p>{{skill.body}}</p>
            </div>
            {% else %}

            
           
            <div class="language-skill-container">
                <div class="skill-title">
                <p>{{skill.title}}</p>
                </div>
               
            </div>
            {% endif %}
            {% endfor %}
            

            
        </div>

    </section>

    <section class=" projectcomponent" id="project">
        <div class="project-container">
        <h1>my projects</h1>

        
        <div class="projects">
            {% for project in projects %}
            <a href="{% url 'project' project.id %}">
            <div class="project">
                <img src="{{project.image.url}}" alt="">
                <h2> {{project.title}}</h2>
               

            </div>
        </a>
            {% endfor %}
           
        </div>
    </div>

    </section>

    <section class="components" id="message">
        <div class="send-message">
            <h2>Get In Touch</h2>
            <form method="POST" >
                {% csrf_token %}

            {{form.as_p}}
             {% comment %} <label for="naem">name</label>
            <br>
            <input type="text" >
            <br>
            <label for="email">email</label>
            <br>
            <input type="email" name="email" id="">
            <br>

            <label for="message">message</label>
            <br>
            <textarea name="" id="" cols="30" rows="10"></textarea> {% endcomment %}
            
            <button type="submit">Send Message</button> 
            <form/>
        </div>
    </section>

    



{% endblock %}